[submodule "src/jtaghal"]
	path = lib/jtaghal
	url = ../jtaghal.git
[submodule "src/log"]
	path = lib/log
	url = ../logtools.git
[submodule "src/jtaghal-apps"]
	path = src/jtaghal-apps
	url = ../jtaghal-apps.git
[submodule "lib/xptools"]
	path = lib/xptools
	url = ../xptools.git
